
  /* Start Global Rules */
 
  html {
    scroll-behavior: smooth;
  }
 
 
  /* end Global Rules */
  /*start header*/ 
 .head{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
     margin-bottom: 0;
     padding-bottom: 0;
 }
 .title{
   display: none;
 }
 @media (max-width: 861px) {
  .title{
    display: block;
  }
  .head .ul li:first-child{
    display: none;
  }
}
  .head .ul{
    display: flex;
    list-style: none;
    justify-content: space-between;
    margin: 0;
    padding: 3px;
    z-index: 1;
   
  }
  .head .ul  li{
    width: 25%;
    height: 110px;
   border: none;
    color: aliceblue;
    display: flex;
    position: relative;
    margin-bottom: 0;
    padding-bottom: 0;
  }
 
  .head .ul li img{
    width: 100px;
    height: 100px;
border-radius: 50%;
position: fixed;
left: 15px;
top: 8px;
z-index: 1;
  }
  .head .ul li h2{
    position: absolute;
   left: 50%;
   top: 5px;
    padding: 0 0 0 8px;
    color: black;
    
  }

  .head .ul  li a{
    text-decoration: none;
    color: aliceblue;
    position: absolute;
    top: 40px;
    left: 30%;
    font-size: 25px;
  }
 
  @media (max-width: 861px) {
    
    .head .ul li img{
      display: none;
    }
    .head .ul li h2{
      
      position: absolute;
      left: 0;
    }
    .head .ul li{
      width: 100%;
      text-align: center;
    }
    
  }
  @media (max-width: 380px) {
    .title{
      display: block;
    }
   
    .head .ul{
      padding: 1px;
    }
    .head .ul li a{
      
      
      font-size: 20px;
     
    }
    .head .ul li{
      width: 100%;
      text-align: center;
    }
    
  }

  /*end header*/
  /*start landing*/
  .landing{
    font-family: "Work Sans", sans-serif;
    background-image: url(../image/landing.jpg);
    background-size: cover;
   max-width: 100%;
    height: auto;
    text-align: center;
    margin: 3px;
    height: calc(91vh - 64px);
    position: relative;
    bottom: 2px;
  }
  .landing .text{
    position: absolute;
    top: 30%;
    left: 29%;
  width: 45%;
  text-align: center;
  }
  @media (max-width: 314px){
    .landing .text{
      position: absolute;
      top: 10%;
    
    }
  }
  .landing .text h1{
    color: red;
    padding: 0 0 5px 0;

  }
  .landing .text p{
    color: rgb(255, 255, 255);
    padding: 0;
    letter-spacing: 1px;
    word-spacing: 3px;
    font-size: 20px;
  }
   /*end landing*/
   /*start videos*/
   .videos{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: rgba(119, 119, 119, 0.726);
text-align: center;
margin: 0 3px;
position: relative;
 grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
   }
   .videos h1{
    color: rgba(255, 255, 255, 0.39);
    font-size: 100px;
    text-align: center;
    margin: auto;
    padding: 0;
    letter-spacing: 10px;
    font-family: emoji;
  }
.videos .content{
  padding-top: 30px;
  padding-bottom: 10px;
}

   .videos iframe{
     width: 30%;
     height: 240px;
    
     padding: 8px;
   }
   @media (max-width: 880px) {
    .videos iframe{
      width: 80%;
     
    }
   }

    /*end videos*/
    /*start images*/
    .images{
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      background-color: rgba(136, 135, 135, 0.61);
  text-align: center;
  margin: 3px 3px 0px 3px;
  position: relative;
   grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
     }
     .images h1{
      color: rgba(255, 255, 255, 0.452);
      font-size: 100px;
      text-align: center;
      margin: auto;
      padding: 0;
      letter-spacing: 10px;
      font-family: emoji;
    }
    .images .content{
      padding-top: 30px;
      padding-bottom: 10px;
      width: 90%;
      text-align: center;
      margin: auto;
    }
    .images img{
      width: 20%;
     /* height: 300px;*/
     
      padding: 8px;
    }
    @media (max-width: 550px) {
      .images .content img{
        width: 70%;
      }
      .img1{
        width: 90%;
      }
     
    }
    
    /*end images*/
    /*start news*/
    .news{
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      background-color: rgba(148, 145, 145, 0.5);
  
  margin: 3px 3px 0px 3px;
 
     }
     .news .h1{
      color: rgba(255, 255, 255, 0.452);
      font-size: 100px;
      text-align: center;
      margin: auto;
      padding: 0;
      letter-spacing: 10px;
      font-family: emoji;
    }
    .news .content{
      padding-top: 30px;
      padding-bottom: 10px;
      padding: 5px;
      position: relative;
      text-align: center;
    }
    .news .content h1{
      width: 100%;
      padding: 5px 0 5px 5px;
      color: rgb(43, 13, 13);
    }
    .news img{
      width: 25%;
      height: 280px;
      padding: 8px;
      padding-left: 20px;
      left: 0;
    }
   
    @media (max-width: 800px) {
      .news .content{
        text-align: center;
      }
      .news img{
        width: 50%;
      }
      .news .content h1{
        width: 100%;
      }
    }
    /*end news*/